<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

</br>
		<div>
			<div>
				<h3><%= current_user.role.capitalize %> User</h3>
			</div>
			<% if current_user.standard? %>
				<p>You currenty have a <i><%= current_user.role.capitalize %></i> user profile. You can create both public and private wikis and you can edit wikis that other users create. For more information about upgrading to <i><b>Premium</b></i> click the button below.</p>
				<div><%= link_to "Upgrade to Premium", new_charge_path, class: "btn btn-primary btn-lg" %></div>
			<% elsif current_user.premium? %>
				<p>You currenty have a <i><%= current_user.role.capitalize %></i> user profile. You can create both public and private wikis and you can edit wikis that other users create. Additionally, you can add other users as collaborators for your wikis!!</p>
				<br />
				<div><%= link_to "Not happy with Premium?", downgrade_path, class: "btn btn-default btn-sm" %></div>
				<% elsif current_user.admin? %>
				<p>You're an <i>Admin</i> user. You can edit and delete any public or private wikis. You can even see private wikis created by other users.</p>
				<p><i>With great power comes great responsibility.</i></p>
			<% end %>
		</div>

</br>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
